.carousel-control.left, .carousel-control.right {
    z-index: 1;
  }
  :root{
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
  }
  body{
    font-family: "Oswald", sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
  }
  
  .text-title{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
  .text-blue{
    color: var(--mainBlue);
  }
  .text-bright{
    color: var(--lightBlue);
  }
  .btn-black{
    background: transparent;
    text-transform: capitalize;
    font-size: 1.3rem !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
  }
  .btn-black:hover{
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
  }
  .cart-item{
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--mainYellow);
  }
.bold{
  font-weight: bold;
}
.footer{
  text-align: center;
  position: relative;
  bottom: -400px;
}
.marging-top{
  margin-top: 40px;
}
.radius{
  border-radius: 5px;
}